{% extends 'base.html' %} {% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-3 mb-1">

        <h3 class="text-center text-uppercase font-weight-bold mt-4 mb-0">
            A propos ESATIC
        </h3>

        <div class="row mt-3">

            <div class="logo-esatic-container col-3">
                <img class="navbar--logo" src="../static/assets/logoesatic.png" />

            </div>

            <div class="col-9">

                <p>



                    Créée par le décret n° 2012-20 du 18 Janvier 2012, l’Ecole Supérieure Africaine des Technologies de l’Information et de la Communication, en abrégé ESATIC est un établissement static d’enseignement supérieur qui forme des cadres dans le secteur des TIC.
                    Elle est également chargée de faire de la recherche et du développement. La création de l’ ESATIC répond à la vision du Président de la République de faire du secteur des TIC l’un des principaux leviers du développement économique
                    et social de notre pays. Au regard du taux de pénétration des TIC qui reste faible dans notre pays et particulièrement dans nos administrations et services, l’ouverture de l’ ESATIC favorisera la vulgarisation des TIC. A travers des
                    partenariats productifs, l’ ESATIC travaillera à mettre sur le marché, des cadres dynamiques et opérationnels. La coopération avec les opérateurs du secteur et les régulateurs favorisera une mise à niveau continuelle des parcours pédagogiques.
                    En associant pleinement le secteur privé à cette mission, la recherche à l’ ESATIC se trouvera renforcée et les chercheurs proposeront les services qui répondent parfaitement à l’attente des clients. A terme, l’effectif sera de 600
                    étudiants inscrits en licence et en master. Dans un futur proche, l’ ESATIC développera le volet recherche et mettra en place une école doctorale dans le secteur des TIC. L’accès se fera sur concours. Avec l’appui de tous et de chacun,
                    je reste persuadé que l’ ESATIC deviendra très bientôt le Carrefour Africain des TIC. 1967-1992 : Création de l’Ecole Nationale Supérieure des Postes et des Télécommunications (ENSPT) pour assurer une formation de pointe dans les métiers
                    de la Poste et des Télécommunications. 1992-1998 : Création de l’Institut Supérieur Africain des Postes et Télécommunications (ISAPT) pour prendre la relève de l’ENSPT en assurant la formation en Télécommunications et en TIC. 1998-2007
                    : Interruption des activités de l’ISAPT Janvier 2012 : Dans le souci de doter la Côte d’Ivoire d’une structure de formation qui répond aux enjeux majeurs du secteur des TIC, l’Etat crée sur les cendres de l’ISAPT, l’Ecole Supérieure
                    Africaine des Technologies de l’Information et de la Communication (ESATIC) par le décret N° 2012-20 du 18 janvier 2012. Mai 2012 : Nomination du Directeur Général. Depuis lors, il mène les activités de reprise des enseignements. 11
                    octobre 2012 : Rentrée Académique 15 octobre 2012 : Début des cours


                </p>

                <h4 class="font-weight-bold mt-5">
                    NOS MISSIONS
                </h4>

                <p>
                    Conformément au Décret 2012-20 du 18 janvier 2012, L’ESATIC est chargée d’assurer les missions d’intérêt général de formation initiale, continue et de recherche dans les métiers des Technologies de l’Information et de la Communication (TIC). L’école a
                    pour missions de : Former des cadres spécialisés dans les Technologies de l’Information et de la Communication notamment dans les domaines de réseaux et services de télécommunications /TIC, de la régulation et de la Cybersécurité ;
                    Mener toute recherche dans le secteur des Technologies de l’Information et de la Communication ; Mettre en place un cadre de coopération nationale et internationale dans le domaine de la formation en matière de télécommunications/TIC
                    ;
                </p>



                <h4 class="font-weight-bold mt-5">
                    NOS ORGANISATIONS
                </h4>

                <div class="">
                    <img class="img-fluid img-organigramme" src="https://esatic.ci/anciensite/images/esatic_codir.png" alt="">
                </div>




            </div>

        </div>


    </div>
</section>div>


</div>
</section>
{% endblock %}
<!-- Section-->